<div class="foot">
  <div class="disclaimer">
    <h3><i class="icon-alert-triangle"></i> Disclaimer</h3>
    <p>I do not enter into any form of cooperation with Frontend Operators. Nor have I conducted any due diligence on
      these operators. The list of Frontend Operators is provided for informational purposes only. Please do your own
      research before using.<br> <br>Please follow the guide that stated in github to add your websites.

    </p>
  </div>

  <ul>
    <li><a href="https://twitter.com/imJaqen"><i class="icon-twitter"></i> Twitter</a></li>
    <li><a href="https://github.com/delink3/delink3-front-end"><i class="icon-github"></i> GitHub</a></li>
  </ul>
</div>
