<div class="foot">
  <div class="disclaimer">
    <h3><i class="icon-alert-triangle"></i> Disclaimer</h3>
    <p>I do not enter into any form of cooperation with Frontend Operators. Nor have I conducted any due diligence on
      these operators. The list of Frontend Operators is provided for informational purposes only. Please do your own
      research before using.</p>
  </div>

  <ul>
    <li><a href=""><i class="icon-twitter"></i> Twitter</a></li>
    <li><a href=""><i class="icon-discord"></i> Discord</a></li>
    <li><a href=""><i class="icon-github"></i> GitHub</a></li>
  </ul>
</div>
