<head>
  <meta charset="UTF-8">
  <!-- Primary Meta Tags -->
  <title>De Link LP Provider Directory</title>
  <meta name="title" content="De Link LP Provider Directory">
  <meta name="description" content="Directory for liquidity pool providers">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:title" content="De Link LP Provider Directory">
  <meta property="og:description" content="Directory for liquidity pool providers">
  <meta property="og:image" content="">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="">
  <meta property="twitter:title" content="De Link LP Provider Directory">
  <meta property="twitter:description" content="Directory for liquidity pool providers">
  <meta property="twitter:image" content="">

      <link rel="stylesheet" href="src/css/file.css">
      <link rel="preload" href="src/js/file.js" as="script">
      <link rel="prefetch" href="src/js/file.js">


  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="src/img/favicon.svg">
  <link rel="apple-touch-icon" href="src/img/favicon.svg">
</head>