<div class="nav">
  <a href="/">
    <img src="src/img/icon.svg"> Home
  </a>
  <div></div>
  <div class="menu">
    <a class="theme-changer">
      <i class="icon-sun"></i>
      <i class="icon-moon"></i>
    </a>
  </div>
</div>